backends:
  - name: github
    type: git
    hostname: github.com
    identity_file: ~/.ssh/id_rsa
    root_directory: ~/.backup-automation
    repository_url: git@github.com:YOUR_GITHUB_USER/YOUR_GITHUB_REPO.git

templates:
  - name: tasmota_github
    http_username: YOUR_TASMOTA_USERNAME
    http_password: SECRET_tasmota_http_password
    backend_name: github
    repository_sub_directory: tasmota

backup_configs:
  - host: YOUR_TASMOTA_DEVICE.example.org
    template: tasmota_github
